@media (max-width: 820px){
    .fundo .direita{
        display: none;
    }

    .fundo .esquerda{
        width: 100%;
        margin: auto;
    }

    .box{
        width: 90%;
    }

    .box .rolagemdefotos h1{
        font-size: 28px;
    }

    .box .rolagemdefotos p{
        font-size: 19px;
        width: 90%;
    }

}

@media (max-width: 500px){

    .redessociais{
        gap: 15%;
    }
}